{% extends 'learning_logs/index.html' %}

{% block page_header %}
    <h2>Topics</h2>
{% endblock page_header %}

{% block content %}
    <ul>
        {% for topic in topics %}
            <li>
                <h3><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h3>
            </li>
        {% empty %}
            <li>No topics have been added yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'learning_logs:new_topic' %}" class="btn btn-outline-primary">Add new topic</a>
{% endblock content %}